* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
.container {
  width: 100%;
  height: 100vh;
}
.header {
  width: 1320px;
  height: 80px;
  background: #f1f1f1;
  margin: 0 auto;
  display: flex;
}
.header .logo {
  width: 20%;
  height: 80px;
}
.header .logo img {
  width: 51%;
  height: 97%;
  border-radius: 50%;
  margin-left: 45px;
}
.header .navbar {
  width: 60%;
  height: 80px;
}
.header .navbar ul {
  list-style: none;
  display: flex;
  justify-content: end;
  align-items: center;
  height: 100%;
}
.header .navbar ul li {
  font-size: 25px;
  margin-left: 40px;
  transition: 0.3s;
}
.header .navbar ul li:hover {
  background: black;
  border-radius: 10px;
  color: white;
  padding: 15px 30px;
}
.navbar ul .contactGap {
  margin-right: 30px;
}
.header .login {
  width: 20%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .login a {
  padding: 10px 40px;
  background: rgb(63, 63, 143);
  display: inline-block;
  font-size: 27px;
  color: white;
  border-radius: 28px 5px 28px 5px;
  transition: 0.3s;
  cursor: pointer;
}
.header .login a:hover {
  background: none;
  border: 2px solid rgb(63, 63, 143);
  color: black;
}
.overly {
  width: 1320px;
  height: 600px;
  margin: 0 auto;
  position: relative;
}
.overly .overlyDetails {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.overly .overlyDetails h1 {
  color: white;
  font-size: 45px;
  width: 600px;
  margin-bottom: 10px;
}
.overly .overlyDetails p {
  color: white;
  font-size: 25px;
  width: 600px;
}
.overly .overlyDetails a {
  padding: 16px 46px;
  background: black;
  color: white;
  border: 2px solid white;
  font-size: 25px;
  border-radius: 15px 70px 10px 70px;
  margin-top: 63px;
}
.overly .overlyDetails a:hover {
  background: rgb(153 138 64);
  color: white;
}
.overly img {
  width: 100%;
  height: 100%;
}
/* service part */
.services {
  width: 1320px;
  height: 600px;
  margin: 0 auto;
}
.services .serviceTitle {
  margin: 30px 0px;
}
.services .serviceTitle h1 {
  text-align: center;
  font-size: 50px;
  margin: 0;
}
.services .serviceMain {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.services .serviceMain .serviceItem {
  width: 400px;
  height: 85%;
  margin: 0 12px;
  background: white;
  box-shadow: 13px 12px 13px whitesmoke;
  border-radius: 0px 0px 20px 20px;
}
.serviceMain .serviceItem .servicesImage {
  width: 400px;
  height: 250px;
  position: relative;
  overflow: hidden;
  border-radius: 15px 15px 0px 0px;
}
.serviceMain .serviceItem .servicesImage img {
  transform: scale(1);
  transition: 0.5s;
}
.serviceMain .serviceItem .servicesImage:hover img {
  transform: scale(1.2) rotate(-10deg);
}
.serviceMain .serviceItem .servicesImage .serviceOverly {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 1;
}
.serviceMain .serviceItem .servicesImage:hover .serviceOverly {
  opacity: 1;
}
.serviceMain .serviceItem .servicesImage .serviceOverly .icon {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 100%;
}
.serviceMain .serviceItem .servicesImage .serviceOverly .icon i {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  color: white;
  background-color: rgb(173, 4, 4);
  text-align: center;
  font-size: 22px;
  line-height: 45px;
  margin: 20px 10px;
}
.serviceMain .serviceItem .servicesImage .serviceOverly .icon i:hover {
  background: transparent;
  color: white;
  border: 2px solid white;
}
.serviceMain .serviceItem .servicesImage img {
  width: 100%;
  height: 100%;
}
.serviceMain .serviceItem .serviceDetails {
  width: 400px;
  height: 300px;
  margin: 10px 10px;
}
.serviceMain .serviceItem .serviceDetails h3 {
  color: rgb(63, 63, 143);
  font-size: 30px;
  text-align: center;
  line-height: 2;
}
.serviceMain .serviceItem .serviceDetails h4 {
  color: rgb(63, 63, 143);
  font-size: 30px;
}
.serviceMain .serviceItem .serviceDetails p {
  color: rgb(63, 63, 143);
  font-size: 23px;
}
.serviceMain .serviceItem .serviceDetails a {
  padding: 14px 24px;
  background: blueviolet;
  background: blueviolet;
  font-size: 20px;
  color: white;
  line-height: 4;
  border-radius: 5px;
  transition: 0.3s;
}
.serviceMain .serviceItem .serviceDetails a:hover {
  background: none;
  border: 2px solid black;
  color: black;
}

/* gallery part */
.gallery {
  width: 1320px;
  height: 800px;
  margin: 0 auto;
  padding: 50px 0px;
}
.gallery .galleryTitle {
  margin-bottom: 30px;
}
.gallery .galleryTitle h1 {
  text-align: center;
  margin: 0;
  font-size: 50px;
}
.gallery .galleryMain {
  width: 1320px;
  height: 800px;
  display: flex;
  justify-content: space-around;
  margin: 0;
}
.gallery .galleryMain .galleryItem1 {
  width: 430px;
  height: 800px;
}
.galleryItem1 .galleryImg4 img {
  width: 100%;
  height: 186px;
  border-radius: 10px;
}
.galleryItem1 .galleryImg5 img {
  width: 100%;
  height: 320px;
  margin-top: 7px;
  border-radius: 10px;
}
.galleryItem1 .galleryImg6 img {
  width: 100%;
  height: 179px;
  margin-top: 7px;
  border-radius: 10px;
}
.gallery .galleryItem2 {
  width: 430px;
  height: 700px;
}
.galleryItem2 .galleryImg7 img {
  width: 100%;
  height: 492px;
  border-radius: 10px;
}
.galleryItem2 .galleryImg8 img {
  width: 100%;
  height: 203px;
  margin-top: 7px;
  border-radius: 10px;
}
.gallery .galleryItem3 {
  width: 420px;
  height: 800px;
}
.galleryItem3 .galleryImg9 img {
  width: 100%;
  height: 259px;
  border-radius: 10px;
}
.galleryItem3 .galleryImg10 img {
  width: 100%;
  height: 272px;
  margin-top: 7px;
  border-radius: 10px;
}
.galleryItem3 .galleryImg11 img {
  width: 100%;
  height: 155px;
  margin-top: 7px;
  border-radius: 10px;
}
/* portfolio part */
.portfolio {
  width: 1320px;
  height: 600px;
  margin: 0 auto;
  padding: 50px 0px;
}
.portfolio .portfolioTitle {
  margin: 30px 0px;
}
.portfolio .portfolioTitle h1 {
  text-align: center;
  margin: 0;
  font-size: 50px;
}
.portfolio .portfolioMainPart {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.portfolio .portfolioMainPart .portfolioItem {
  background: #f6f3f3;
  border-radius: 18px;
  width: 313px;
  height: 82%;
  position: relative;
  box-shadow: 6px 8px 7px #f6f3f3;
}
.portfolio .portfolioMainPart img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  position: relative;
  top: 15px;
  left: 80px;
  box-shadow: 5px 7px 12px 7px #d4cbcb;
}
.profileIcon {
  display: flex;
  flex-direction: column;
}
.profileIcon i {
  display: flex;
  padding: 5px 0px;
  margin-left: 20px;
  font-size: 20px;
  color: rgb(63, 63, 143);
}
.profileIcon i span {
  font-size: 15px;
  color: rgb(63, 63, 143);
  margin-left: 27px;
}
.portfolioItem .portfolioDetails h3 {
  color: rgb(63, 63, 143);
  font-size: 30px;
  text-align: center;
  margin-top: 30px;
}
.portfolioDetails p {
  color: rgb(63, 63, 143);
  font-size: 22px;
  margin: 5px 20px;
}
.portfolioItem .portfolioDetails a {
  padding: 10px 18px;
  background: blueviolet;
  color: white;
  font-size: 18px;
  border-radius: 5px;
  display: inline-block;
  margin: 13px 0px 0px 33px;
}
.portfolioItem .portfolioDetails a:hover {
  border: 2px solid blueviolet;
  background: none;
  color: black;
}
/* contact part*/
.contact {
  width: 1320px;
  margin: 0 auto;
}
.contact .contactTitle {
  margin: 30px 0px;
}
.contact .contactTitle h1 {
  margin: 0;
  text-align: center;
  font-size: 50px;
}
.contact .contactMain {
  width: 99%;
  height: 100%;
  background-color: rgb(241, 236, 236);
  box-shadow: 5px 5px 5px 5px #f1eaea;
  display: flex;
}
.contact .contactMain .contactImage {
  width: 60%;
  height: 100%;
}
.contact .contactMain .contactImage img {
  width: 100%;
  height: 100%;
}
.contact .contactMain .contactText {
  width: 30%;
  height: 100%;
}
.contactForm {
  font-size: 26px;
  display: flex;
  margin: 27px 0px 0px 20px;
}
.contactForm input {
  border: none;
  width: 100%;
  height: 50px;
  border-radius: 5px;
  margin-left: 12px;
  border: 1px solid rgb(180, 180, 253);
}
.contactForm textarea#message {
  margin-left: 16px;
  border: 1px solid rgb(180, 180, 253);
}
input.contactInput {
  font-size: 20px;
  border-radius: 30px 30px 30px 30px;
  padding: 13px 37px;
  margin: 18px 186px;
  border: 1px solid rgb(180, 180, 253);
}
/* footer part */
.footer {
  width: 1320px;
  padding: 30px 0px;
  background: black;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer .footerLeftPart {
  width: 40%;
}
.footer .footerLeftPart p {
  text-align: center;
  font-size: 22px;
  color: rgb(228, 216, 216);
}
.footer .footerIconPart {
  width: 60%;
  display: flex;
  justify-content: center;
}
.footer .footerIconPart i {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-left: 20px;
  background-color: rgb(63, 63, 143);
  line-height: 50px;
  border-radius: 5px;
  font-size: 23px;
  text-align: center;
  color: white;
}
